body{
    font-family: arial;
    padding: 0;
    margin: 0;
}
.container{
    width: 500px;
    background-color: #fff;
    margin:100px auto;
    position: relative;
    border:  dashed;
    padding: 15ex;
}
.container h1{
    text-align: center;
}
.sort{
    text-align: center;
}
body.detail{
    font-family: arial;
   
    line-height: 5ex;
}

img.tiny{
    width: 20px;
    border: solid thin grey;	
}
img.big {
    width: 200px;
    border: solid thin grey;
    position: absolute;
    top: 35ex;  
    left:65ex;
    bottom: 65ex;
}
img.medium{

    width: 10ex;
    top: 13ex;
    position: absolute;
}
img.medium1{

    width: 10ex;
    top: 13ex;
    left: 65ex;
    position: absolute;
}

.properties div div{
	display:inline-block;
}
.properties div div:first-child{
	width:25ex;
}
.properties div div:last-child{
	font-weight: bold;
}
ul li{
    list-style:circle;

}
ul.sort a:link{
    background-color: white;
    border-radius: 1ex;
    border:solid black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
ul.sort a:hover{
    background-color: grey;
}
.sort li{
    list-style: none;

}
a{
	text-decoration: none;

}
.nav_button{
    border: solid thin grey;
    padding: 1ex;
    width: 15ex;
    text-align: center;
    display: inline-block;
    border-radius: 1ex;
}
.button{
    border: solid thin grey;
    padding: 2px;
    width: 8ex;
    text-align: center;
    display: inline-block;
    border-radius: 1ex;
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 5px;
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}
