body{
    font-family: arial;
 }

body.detail{
    font-family: arial;
   
    line-height: 5ex;
}

img.tiny{
    width: 20px;
    border: solid thin grey;	
}
img.big {
    width: 350px;
    border: solid thin grey;
    position: absolute;
    left:55ex;
    bottom: 65ex;
}

.properties div div{
	display:inline-block;
}
.properties div div:first-child{
	width:25ex;
}
.properties div div:last-child{
	font-weight: bold;
}
ul li{
    list-style:circle;

}
ul.sort a:link{
    background-color: white;
    border-radius: 1ex;
    border:solid black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
ul.sort a:hover{
    background-color: cyan;
}
.sort li{
    list-style: none;

}
a{
	text-decoration: none;

}
.nav_button{
    border: solid thin black;
    padding: 1ex;
    width: 15ex;
    text-align: center;
    display: inline-block;
     border-radius: 1ex;
}
.button{
    border: solid thin black;
    padding: 2px;
    width: 8ex;
    text-align: center;
    display: inline-block;
    border-radius: 1ex;
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 5px;
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}
