<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/static/style.css'>
</head>
<body>
	<div class="container">		
		<div class="header">
		<img class="medium" src="static/img/globe.gif">
		<h1>World Factbook</h1>
		<img class="medium1" src="static/img/globe.gif">
		<div>
		<form>
		<ul class="sort">
			{% for s in lota %}
			<a href="/startWithAlphabetic/{{s}}"><li>{{s}}</li></a>
			{% endfor %}
		</ul>
		</form>
	</div>
	<div>
		{% block content %}
		{% endblock%}
	</div>
	</div>
	</body>
</body>
</html>