<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body class="detail">
		<form action='/createCountryByName'>
			<h1>Create Your Own Country</h1>
		<div class='properties'>			
			<div>
				<div>Name</div>
				<div><input type='text' name="name"></div>
			</div>
			<div>
				<div>Capital</div>
				<div><input type="text" name="capital"></div>
			</div>
			<div>
				<div>Continent</div>
				<div><input type="text" name="continent"></div>
			</div>
			<div>
				<div>Area (square kilometer)</div>
				<div><input type="text" name="area"></div>
			</div>
			<div>
				<div>Population</div>
				<div><input type="text" name="population"></div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div><input type="text" name="gdp"></div>
			</div>
			<div>
				<div>TLD</div>
				<div><input type="text" name="tld"></div>
			</div>
		
		</div>
	
		<div>
			<input type="submit" value="Create">
		</div>
		</form>	
	</body>
</html>