<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body class="detail">
		<div class="con">
		<div><a href="/"><<< Go back to Home</a></div>
		<h1>{{c['name']}}</h1>
		<div class='properties'>
			<div>
				<div>Capital</div>
				<div>{{c['capital']}}</div>
			</div>
			<div>
				<div>Continent</div>
				<div><a href='../continent/{{c.continent}}'>{{c['continent']}}</a></div>
			</div>
			<div>
				<div>Area (km²)</div>
				<div>{{"{:,.0f}".format(c['area'])}}</div>
			</div>
			<div>
				<div>Population(millions)</div>
				<div>{{"{:,.0f}".format(c['population'])}}</div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div>{{ "{:,.0f}".format(c['gdp']/1000000) }}</div>
			</div>
			<div>
				<div>Top Level Domain(tld)</div>
				<div>{{c['tld']}}</div>
			</div>
		</div>
		<img src="/static/flags/{{c['tld']}}.gif" class='big' alt="Can't Upload the image">

		<div class="button">
			<a href="/newCountryByName">New</a>
		</div>
		<div class="button">
			<a href="/editCountryByName/{{c.name}}">Edit</a>
		</div>
		<div class="button">
			<a href="/delete/{{c.name}}">Delete</a>
		</div>
		</div>
	</body>
</html>